.cartLink {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cartWrapper {
  position: relative;
}

.cartIcon {
  z-index: 1;
}

.quantity {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 12px;
  z-index: 2;
}

.quantityGreater {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 2;
  font-size: 9px
}
